<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>My Posts</h1>
    
    <form id="postForm">
        <label for="content">Content:</label>
        <input type="text" id="content" name="content" required>
        <button type="submit">Create Post</button>
    </form>

    <ul id="postList"></ul>
    <script src="/js/responseHandler.js"></script>
    <script src="/js/posts.js"></script>
</body>
</html>
